{
	"watch": ["src"],
	"ext": ".ts,.js",
	"ignore": ["node_modules/"],
	"exec": "ts-node ./src/server.ts",
	"singleQuote": true,
	"endOfLine": "auto",
	"jsxSingleQuote": true,
	"useTabs": true,
	"bracketSameLine": true
}
